// colors

$primary: #FDB633; // ORANGE 
$accent: #000000; // BLACK
$white: #ffffff; // WHITE
$dark-gray: #4E4E4E; // FONT COLOR

// fonts 

$primary-font: 'Hind', sans-serif;
$secondary-font: 'David Libre', serif;

// header size

$header-height-small: 60px;
$header-height: 80px;

$secondary-nav-height-small: 50px;
$secondary-nav-height: 70px;